<div id="home">
    <div class="row bottom px-5">
        <div class="col-sm text-home">
            <span>Ayudémoslos a que vuelvan a sus hogares</span>
        </div>
        <div class="col-sm social-m d-flex align-items-center justify-content-end px-0">
            <a href="https://instagram.com/_.ritorno._?igshid=d0ws5obcsdfj" target="_blank">
                <img src="/img/redes-sociales/instagram.svg" alt="Icono de instagram"/>
            </a>
        </div>
    </div>
</div>
<div id="about-us" class="container-fluid p-5">
      <h2 class="text-center">Conoce Sobre Nosotros</h2>
      <div class="row py-5">
        <div class="col-sm-4">
          <img class="float-right" src="/img/abou-us.jpg" alt="XD" />
        </div>
        <div class="col-sm-6 txt-about d-flex align-items-center">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at
            neque ornare, ullamcorper ex id, feugiat justo. Mauris turpis orci,
            consequat nec purus et, portor scelerisque mauris. Duis convallis
            nisl rhoncus, sodales lectus et, egestas nibh. Fusce vel purus
            cursus nulla interdum ncidunt. Cras sit amet ipsum porta, ultrices
            lacus vel, blandit libero. Per conubia nostra, per inceptos
            himenaeos. In pulvinar lobors vulputate. Eam luctus vel turpis a
            consequat.
          </p>
        </div>
      </div>
    </div>
    <div id="why-us" class="container-fluid p-5">
      <h2 class="text-center">Por qué elegir ProyectoPet</h2>
      <div class="row py-5">
        <div class="col-sm-4">
          <div class="card">
            <img src="/img/dog11.jpg" />
            <div class="card-body p-3">
              <h4 class="text-center card-title">Seguiridad</h4>
              <p class="card-text">
                Lorem ipsum dolor sit adipiscing elit. Aenean ut neque
                malesuada, iaculis nunc vitae, scelerisque diam. In quis erat
                ex. Ut semper sem lacinia, auctor orci vel, imperdiet quam. In
                hac habitasse platea dictumst. Maecenas condimentum enim et nisi
                pellentesque efficitur. Vesbulum euismod urna ut enim fringilla,
                accumsan fermentum enim volutpat.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <img src="/img/item1.jpg" alt="" />
            <div class="card-body p-3">
              <h4 class="text-center card-title">Velocidad</h4>
              <p class="card-text">
                Lorem ipsum dolor sit adipiscing elit. Aenean ut neque
                malesuada, iaculis nunc vitae, scelerisque diam. In quis erat
                ex. Ut semper sem lacinia, auctor orci vel, imperdiet quam. In
                hac habitasse platea dictumst. Maecenas condimentum enim et nisi
                pellentesque efficitur. Vesbulum euismod urna ut enim fringilla,
                accumsan fermentum enim volutpat.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <img src="/img/item2.jpg" alt="" />
            <div class="card-body p-3">
              <h4 class="text-center card-title">El Mejor Precio</h4>
              <p class="card-text">
                Lorem ipsum dolor sit adipiscing elit. Aenean ut neque
                malesuada, iaculis nunc vitae, scelerisque diam. In quis erat
                ex. Ut semper sem lacinia, auctor orci vel, imperdiet quam. In
                hac habitasse platea dictumst. Maecenas condimentum enim et nisi
                pellentesque efficitur. Vesbulum euismod urna ut enim fringilla,
                accumsan fermentum enim volutpat.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="contact-us" class="container-fluid p-5">
      <div class="card mb-3">
        <img
          src="/img/contact-us.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Si ves un perro perdido...</h5>
          <p class="card-text">
            Solo tienes que reportarlo con su código del collar y podrás ayudarlo a
            volver a casa.
          </p>
          <a href="/report-1" class="btn btn-primary mx-auto">
            Contáctanos
          </a>
        </div>
      </div>
    </div>
    <div id="more-us" class="container-fluid p-5">
      <h2 class="text-center">Más Sobre Nosotros</h2>
      <div class="card-deck pt-5">
        <div class="card">
          <img
            src="/img/dog.svg"
            class="card-img-top mx-auto"
            alt="..."
          />
          <div class="card-body">
            <p class="text-monospace">
              Ayudamos a reubicar a más de 1000 perros al mes
            </p>
          </div>
        </div>
        <div class="card">
          <img
            src="/img/flag.svg"
            class="card-img-top mx-auto"
            alt="..."
          />
          <div class="card-body">
            <p class="text-monospace">Se creo en el 2020</p>
          </div>
        </div>
        <div class="card">
          <img
            src="/img/map-pin.svg"
            class="card-img-top mx-auto"
            alt="..."
          />
          <div class="card-body">
            <p class="text-monospace">
              Estamos en 18 provincias y en más de 500 barrios
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="business" class="container-fluid p-5">
      <h2 class="text-center">Empresas que confiarían en nosotros</h2>
      <div class="row pt-5">
        <div class="col-sm-2">
          <img
            class="mx-auto d-block pb-2"
            src="/img/bussines/codepen.svg"
            alt=""
          />
          <p class="text-monospace text-center">CodeOpen</p>
        </div>
        <div class="col-sm-2">
          <img
            class="mx-auto d-block pb-2"
            src="/img/bussines/cpu.svg"
            alt=""
          />
          <p class="text-monospace text-center">CPU's</p>
        </div>
        <div class="col-sm-2">
          <img
            class="mx-auto d-block pb-2"
            src="/img/bussines/github.svg"
            alt=""
          />
          <p class="text-monospace text-center">GitHub</p>
        </div>
        <div class="col-sm-2">
          <img
            class="mx-auto d-block pb-2"
            src="/img/bussines/gitlab.svg"
            alt=""
          />
          <p class="text-monospace text-center">GitLab</p>
        </div>
        <div class="col-sm-2">
          <img
            class="mx-auto d-block pb-2"
            src="/img/bussines/anchor.svg"
            alt=""
          />
          <p class="text-monospace text-center">Anchor</p>
        </div>
        <div class="col-sm-2">
          <img
            class="mx-auto d-block pb-2"
            src="/img/bussines/aperture.svg"
            alt=""
          />
          <p class="text-monospace text-center">Aperture</p>
        </div>
      </div>
    </div>