<div id="end-page" class="container-fluid px-5 py-3">
  <div class="row text-center d-flex justify-content-between">
    <div class="col-sm-3">
      <div class="logo-us">
        <a href="/">
            <img src="/img/logo/logo.png"/>
            <span>Ritorno</span>
        </a>
    </div>
      <p class="pt-1">Todos los Derechos Reservados 2020 ©</p>
    </div>
    <div class="col-sm-3">
      <h3>Links</h3>
      <div class="flex-column nav link-page">
        <a href="/">Inicio</a>
        <a href="/report-1">Contáctanos</a>
      </div>
    </div>
    <div class="col-sm-3">
      <h3>Nuestras Redes</h3>
      <div class="d-flex justify-content-center social-m">
        <a href="https://instagram.com/_.ritorno._?igshid=d0ws5obcsdfj" target="_blank">
          <img src="/img/redes-sociales/instagram.svg" alt="Icono de instagram"/>
        </a>
      </div>
    </div>
    <div class="col-sm-3 d-flex align-items-center justify-content-center">
      {{#if user}}
        <a class="btn-red" href="/logout">Cerrar Sesión</a>
      {{else}}
        <a class="btn-ir" href="/signin" >
          Iniciar Sesión o Regístrate
        </a>
      {{/if}}
    </div>
  </div>
</div>
<div id="footer" class="container-fluid p-1">
  <span>Página Creada por L.D.F Inc® Todos los Derechos Reservados 2020 ©</span>
</div>