<header id="header" class="container-fluid px-5 py-2">
    <div class="d-flex justify-content-between">
    <div class="logo-us">
        <a href="/">
            <img src="/img/logo/logo.png"/>
            <span>Ritorno</span>
        </a>
    </div>
    <div class="nav-our d-flex align-items-center">
        {{#if user}}
            <a href="/">Inicio</a>
            <a href="/report-1">Reportar</a>
            <a href="/cuenta/notificaciones">Notificaciones</a>
            <a href="/cuenta/mascotas">Mis mascotas</a>
            <a href="/cuenta/gastos">Mis Gastos</a>
            <a href="/cuenta/planes">Planes</a>
            <a href="/profile">Mi cuenta</a>
        {{else}}
            <a href="/">Inicio</a>
            <a href="/report-1">Reportar</a>
            <a class="btn-ir btn" href="/signin" >Iniciar Sesión o Regístrate</a>
        {{/if}}
    </div>
    </div>
</header>