 <main id="notify" class="container-fluid px-5">
        <div class="tittle">
            <h1>Notificaciones</h1>
        </div>
        <div class="main-content">
            <div id="preview">
                <header><h3>Tus mascotas<br>extraviadas</h3></header>
                <div class="preview-info">
                    <div class="content">
                        <div class="photo">
                            <img src="/img/photoDogs" alt="">
                        </div>
                        <div class="info">
                            <div class="name">
                                <span>NombreDog</span>
                            </div>
                            <div class="state">
                                <span>Extraviado hace [n] días</span>
                            </div>
                        </div>
                        <div class="number">
                            <span class="text-info">[n]</span>
                        </div>
                    </div>
                    <div class="clear">
                        <span>Las mascotas reportadas como extraviadas apareceran aquí.</span>
                    </div>
                </div>
            </div>
            <div id="moreInfo">
                <div class="noClear">
                    <div class="header">
                        <div class="photo">
                            <img src="..." alt="">
                        </div>
                        <div class="info">
                            <p class="m-0">Nombre: [name] <span>[Estado]</span></p>
                            <p class="m-0">Number of reports <span>[n]</span></p>
                        </div>
                    </div>
                    <div class="reportes">
                        <div class="report">
                            <div class=" text-center">
                                <h5 class="m-0">Reporte número <span>[n]</span></h5>
                            </div>
                            <div class="person">
                                <p class="font-weight-bold h5">Datos de la Persona</p>
                                <p>Name: <span class="font-italic">[NombreDeLaPersona]</span></p>
                                <p>Número de Teléfono: <span class="font-italic">[number]</span></p>
                                <p>Email: <span class="font-italic">[email]</span></p>
                                <p>Fecha del reporte: <span class="font-italic">[fecha]</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear">
                    <div class="clear-content">
                        <h3>❤️Confiamos que regresarán pronto a casa️❤️</h3>
                        <span>Cada mascota extraviada se publican en nuestras redes para que la comunidad esté alerta si ven a alguna mascota desorientada.</span>
                        <br>
                        <span>Te dejamos nuestras redes para que lo veas.</span>
                        <br>
                        <a href="http://" target="_blank">
                            <img class="mx-auto my-3" src="/img/redes-sociales/instagram.svg"  alt="Icono de instagram">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>