<div id="planes" class="container-fluid px-5 pb-5">
      <div class="pricing-header text-white px-3 pt-3 mx-auto text-center">
        <h2 class="display-4">
          <font style="vertical-align: inherit;">Nuestros Precios</font>
        </h2>
        <p class="lead">
          <font style="vertical-align: inherit;">
            Eligí el mejor plan que se adapte a ti y protejamos a nustros fieles amigos.
          </font>
        </p>
      </div>
      <div class="row justify-content-center mb-5">
        <div class="p-3 m-3 bg-dark rounded-lg">
          <h3 class="card-title text-center text-white">Plan Básico</h3>
          <div class="card-deck">
            <div class="card">
              <h5 class="card-header">Mensual</h5>
              <div class="p-2 text-center">
                <h2 class="card-title">$390</h2>
                <h6 class="card-subtitle mb-2 text-muted">al mes</h6>              
              </div>
              <ul class="list-group list-group-flush">
                <h5 class="list-group-item card-title mb-0">Características</h5>
                <li class="list-group-item">Registro de mascotas</li>
                <li class="list-group-item">Notificación de perro encontrado</li>
              </ul>
              <div class="card-body text-center">
                <a href="/cuenta/planes/comprar/básico/mensual" class="btn btn-success">Comprar</a>
              </div>
            </div>
            <div class="card">
              <h5 class="card-header">Anual</h5>
              <div class="p-2 text-center">
                <h2 class="card-title">$2.790</h2>
                <h6 class="card-subtitle mb-2 text-muted">Ahorras $1.890 vs el Mensual</h6>
              </div>
              <ul class="list-group list-group-flush">
                <h5 class="list-group-item card-title mb-0">Características</h5>
                <li class="list-group-item">Todas las características del mensual</li>
                <li class="list-group-item">Más económico</li>
              </ul>
              <div class="card-body text-center">
                <a href="/cuenta/planes/comprar/básico/anual" class="btn btn-success">Comprar</a>
              </div>
            </div>
          </div>
        </div>
        <div class="p-3 m-3 bg-dark rounded-lg">
          <h3 class="card-title text-center text-white"> Plan Medio</h3>
          <div class="card-deck">
            <div class="card">
              <h5 class="card-header">Mensual</h5>
              <div class="p-2 text-center">
                <h2 class="card-title">$690</h2>
                <h6 class="card-subtitle mb-2 text-muted">al mes</h6>              
              </div>
              <ul class="list-group list-group-flush">
                <h5 class="list-group-item card-title mb-0">Características</h5>
                <li class="list-group-item">Registro de mascotas</li>
                <li class="list-group-item">Notificación de perro encontrado</li>
              </ul>
              <div class="card-body text-center">
                <a href="/cuenta/planes/comprar/medio/mensual" class="btn btn-success">Comprar</a>
              </div>
            </div>
            <div class="card">
              <h5 class="card-header">Anual</h5>
              <div class="p-2 text-center">
                <h2 class="card-title">$4.990</h2>
                <h6 class="card-subtitle mb-2 text-muted">Ahorras $[monto] vs el Mensual</h6>
              </div>
              <ul class="list-group list-group-flush">
                <h5 class="list-group-item card-title mb-0">Características</h5>
                <li class="list-group-item">Todas las características del mensual</li>
                <li class="list-group-item">Más económico</li>
              </ul>
              <div class="card-body text-center">
                <a href="/cuenta/planes/comprar/medio/anual" class="btn btn-success">Comprar</a>
              </div>
            </div>
          </div>
        </div>
        <div class="p-3 m-3 bg-dark rounded-lg">
          <h3 class="card-title text-center text-white">
            Plan Full
          </h3>
          <div class="card-deck">
            <div class="card">
              <h5 class="card-header">Mensual</h5>
              <div class="p-2 text-center">
                <h2 class="card-title">$990</h2>
                <h6 class="card-subtitle mb-2 text-muted">al mes</h6>              
              </div>
              <ul class="list-group list-group-flush">
                <h5 class="list-group-item card-title mb-0">Características</h5>
                <li class="list-group-item">Registro de mascotas</li>
                <li class="list-group-item">Notificación de perro encontrado</li>
              </ul>
              <div class="card-body text-center">
                <a href="/cuenta/planes/comprar/alto/mensual" class="btn btn-success">Comprar</a>
              </div>
            </div>
            <div class="card">
              <h5 class="card-header">Anual</h5>
              <div class="p-2 text-center">
                <h2 class="card-title">$6990</h2>
                <h6 class="card-subtitle mb-2 text-muted">Ahorras $[monto] vs el Mensual</h6>
              </div>
              <ul class="list-group list-group-flush">
                <h5 class="list-group-item card-title mb-0">Características</h5>
                <li class="list-group-item">Todas las características del mensual</li>
                <li class="list-group-item">Más económico</li>
              </ul>
              <div class="card-body text-center">
                <a href="/cuenta/planes/comprar/alto/anual" class="btn btn-success">Comprar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>